argcomplete==2.0.0
attrs==21.4.0
Authomatic==1.0.0
botocore==1.24.4
certifi==2021.10.8
cffi==1.15.0
cfn-flip==1.3.0
charset-normalizer==2.0.10
click==8.0.3
colorama==0.4.4
coverage==6.3.2
cryptography==36.0.1
defusedxml==0.7.1
dnspython==2.2.0
durationpy==0.5
email-validator==1.1.3
Flask==2.0.2
Flask-Login==0.5.0
flask-mongoengine==1.0.0
Flask-WTF==1.0.0
future==0.18.2
gunicorn==20.1.0
hjson==3.0.2
idna==3.3
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.3
jmespath==0.10.0
MarkupSafe==2.0.1
mongoengine==0.24.0
oauthlib==3.2.0
packaging==21.3
placebo==0.9.0
pluggy==1.0.0
py==1.11.0
pycparser==2.21
PyJWT==2.3.0
pymongo==4.0
pyparsing==3.0.7
pytest==7.0.1
pytest-cov==3.0.0
python-dateutil==2.8.2
python-slugify==5.0.2
python3-openid==3.2.0
PyYAML==6.0
requests==2.27.1
requests-oauthlib==1.3.1
s3transfer==0.5.0
six==1.16.0
social-auth-app-flask==1.0.0
social-auth-app-flask-mongoengine==1.0.0
social-auth-core==4.2.0
social-auth-storage-mongoengine==1.0.1
text-unidecode==1.3
toml==0.10.2
tomli==2.0.1
tqdm==4.62.3
troposphere==3.2.2
urllib3==1.26.8
Werkzeug==2.0.2
wsgi-request-logger==0.4.6
WTForms==3.0.1
